@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    --wrapper: 100%;
    --heading-font: 'Alata', sans-serif;
    --content-font: 'Josefin Sans', sans-serif;
    --brand-color: #e30613;
    --brand-h-color: #b41817;
    --primary-color: #136371;
    --primary-h-color: #1E3A4B;
    --content-color: #111111;
    --content-d-color: #ffffff;
    --p-text-color: #111111;
    --s-bg-color: #ffffff;
    --border-color: #fff4f4;
    --shadow: 0 5px 8px rgba(0,0,0,0.05);
}
h1, h2, h3 {
    font-family: var(--heading-font);
}
p, a, span, div, input, button {
    font-family: var(--content-font);
}
img {
    max-width: 100%;
}
.wrapper {
    width: 100%;
    max-width: var(--wrapper);
}

/* Header Section */
header {
    position: relative;
    background-color: var(--s-bg-color);
    box-shadow: var(--shadow);
    z-index: 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: .5rem .8rem;
}
.navbar .nav-logo {
    flex-basis: 60px;
    max-width: 60px;
}
.navbar .toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
}
.navbar .toggle span {
    display: block;
    position: relative;
    margin-bottom: 5px;
    width: 22px;
    height: 2px;
    margin-left: 8px;
    background-color: var(--brand-color);
    transition: transform 300ms ease-out,
                left 300ms ease-out,
                opacity 300ms ease;
    pointer-events: none;
}
.navbar .toggle span:last-child,
.navbar .toggle span:first-child {
    width: 30px;
    margin-left: 0;
}
.navbar .toggle span:last-child {
    margin-bottom: 0;
}
.navbar .toggle.active span {
    opacity: 0;
}
.navbar .toggle.active span:first-child {
    opacity: 1;
    /* left: 3px; */
    transform: translate(5px, 12px) rotate(45deg) ;
}
.navbar .toggle.active span:last-child {
    opacity: 1;
    /* left: 3px; */
    transform: translate(5px, -12px) rotate(-45deg) ;
}
.navbar .nav-menu {
    max-height: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: var(--s-bg-color);
    box-shadow: var(--shadow);
    list-style: none;
    padding: 0;
    transition: all 300ms ease-out;
}
.navbar .nav-menu.show {
    visibility: visible;
    max-height: 100vh;
}
.navbar .nav-menu::before {
    content: 'Select Size:';
    color: var(--primary-color);
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.navbar .nav-menu li:first-child {
    margin-top: 30px;
}
.navbar .nav-menu li {
    border-bottom: 1px solid var(--border-color)
}
.navbar .nav-menu li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: var(--text-color);
}


/* House Side Nav */
.house-side-control {
    padding: .5rem .8rem;

    .title {
        color: var(--primary-color);
        margin-bottom: .5rem;
        text-align: center;
    }
}
.house-side-control, .house-control-nav {
    .list {
        display: flex;
        justify-content: center;
        gap: .3rem;
        list-style: none;
        .btn {
            display: block;
            padding: .4rem .8rem .3rem;
            border: 1px solid var(--brand-color);
            color: var(--content-d-color);
            background-color: var(--brand-color);
            transition: {
                property: color, background, border;
                duration: 300ms;
                timing-function: ease-out;
            }
            &:hover {
                background-color: var(--brand-h-color);
            }
            &.active {
                background-color: var(--s-bg-color);
                color: var(--brand-color);
            }
        }
    }
}
