@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$bounce-effect: cubic-bezier(0.18, 0.89, 0.32, 1.18);
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992;
$xl-device: 1200px;
$xxl-device: 1400px;

$border-color: #136371;

body {
    --heading-font: 'Alata', sans-serif;
    --content-font: 'Josefin Sans', sans-serif;
    --brand-color: #e30613;
    --brand-h-color: #b41817;
    --brand-s-color: rgba(227, 6, 21, 0.2);
    --primary-color: #136371;
    --primary-h-color: #1E3A4B;
    --content-color: #111111;
    --content-d-color: #ffffff;
    --s-bg-color: #ffffff;
    --border-color: #fff4f4;
    --shadow: 0 5px 8px rgba(0,0,0,0.05);
    --shadow-top: 0 -5px 8px rgba(0,0,0,0.05);
}
h1, h2, h3 {
    font-family: var(--heading-font);
}
p, a, span, div, input, button {
    font-family: var(--content-font);
}
img {
    max-width: 100%;
}
a {
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
    transition: {
        property: color;
        duration: 300ms;
        timing-function: ease;
    };
    &::after {
        content: '';
        position: absolute;
        height: .09rem;
        left: 0;
        width: 100%;
        bottom: 0;
        background: var(--primary-color);
        transform: scaleX(0);
        transition: {
            property: background, transform;
            duration: 300ms;
            timing-function: ease, $bounce-effect;
        };
    }
    &:hover {
        color: var(--primary-h-color);
        &::after {
            transform: scaleX(1);
            background: var(--primary-h-color);
        }
    }
}
.wrapper {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

// Header
header {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    min-height: 60px;
    background: var(--s-bg-color);
    box-shadow: var(--shadow);
    z-index: 1000;
    // Navbar
    .navbar {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        // band Logo
        .nav-logo {
            display: block;
            max-width: 80px;
            .brand-logo {
                display: block;
            }
        }
        // toggle btn
        .toggle {
            display: none;
            flex-direction: column;
            width: 40px;
            align-items: flex-end;
            cursor: pointer;
            user-select: none;
            span {
                display: block;
                position: relative;
                width: 100%;
                height: 2px;
                background-color: var(--brand-color);
                margin-bottom: 5px;
                pointer-events: none;
                transition: {
                    property: opacity, transform, width;
                    duration: 300ms, 300ms, 200ms;
                    timing-function: ease, $bounce-effect, $bounce-effect;
                };
                &:first-child {
                    transform-origin: top left;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 80%;
                }
                &:last-child {
                    transform-origin: bottom left;
                    margin-bottom: 0;
                }
            }
            &:hover {
                span {
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 100%;
                    }
                }
            }
            &.active {
                span{
                    &:nth-child(2),
                    &:nth-child(3) {
                        opacity: 0;
                    }
                    &:first-child {
                        transform: translate(12px, -2px) rotate(45deg);
                    }
                    &:last-child {
                        transform: translate(12px, 2px) rotate(-45deg);
                    }
                }
            }
            @media (max-width: $md-device) { 
                
                display: flex;
            }
        }
        // nav menu
        .nav-menu {
            display: flex;
            list-style: none;
            
            .nav-item {
                display: block;
                padding: .4rem .8rem .3rem;
                background: var(--s-bg-color);
                color: var(--primary-color);
                cursor: pointer;
                user-select: none;
                transition: {
                    property: color, background;
                    duration: 300ms;
                    timing-function: ease;
                };
                &:hover {
                    background-color: var(--primary-h-color);
                    color: var(--content-d-color);
                }
            }
            @media (max-width: $md-device) {
                display: block;
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                max-height: 0px;
                overflow: hidden;
                box-shadow: var(--shadow);
                transition: {
                    property: max-height;
                    duration: 300ms;
                    timing-function: $bounce-effect;
                };
                .nav-item {
                    padding: .6rem 1rem;
                    border: unset;
                    border-bottom: 1px solid rgba($border-color, .08);
                    &:first-child {
                        margin-top: .1rem;
                    }
                    &:last-child {
                        border: unset;
                        margin-bottom: 0.3rem;
                    }
                }
                &.active {
                    max-height: 200px;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }
}

main {
    min-height: calc(100vh - 110px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > * {
        flex-shrink: 0;
        flex-grow: 0;
    }
}

.control-nav-block {
    padding-top: .6rem;
    padding-bottom: .6rem;
    overflow: hidden;
    .title {
        text-align: center;
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
        gap: .3rem;
        list-style: none;
        .nav-item {
            padding: .4rem .6rem .3rem;
            background: var(--s-bg-color);
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            cursor: pointer;
            user-select: none;
            transition: {
                property: color, background, border, box-shadow;
                duration: 300ms;
                timing-function: ease-out;
            };
            &:hover {
                background: var(--brand-h-color);
                color: var(--content-d-color);
                border: 1px solid var(--brand-h-color);
            }
            &:active {
                background: var(--brand-color);
                color: var(--content-d-color);
                border: 1px solid var(--brand-color);
            }
            &.active {
                background: var(--brand-color);
                color: var(--content-d-color);
                border: 1px solid var(--brand-color);
            }
        }
    }

}

.house-model-section {
    max-height: 0px;
    overflow: hidden;
    transition: {
        property: max-height;
        duration: 1000ms;
        timing-function: $bounce-effect;
    };
    .wrapper {
        position: relative;
    }
    .house-side-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        pointer-events: none;
        user-select: none;
        .btn {
            display: block;
            padding: .4rem .5rem .35rem;
            background-color: var(--brand-color);
            color: var(--content-d-color);
            border: 1px solid var(--brand-color);
            pointer-events: all;
            cursor: pointer;
            user-select: none;
            transition: {
                property: background, transform, box-shadow;
                duration: 300ms;
                timing-function: ease-out
            };
            &:hover {
                // background-color: var(--brand-h-color);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            }
        }
        
    }
}

.house-model-outer {
    perspective: 2000px;
    transition: transform 800ms $bounce-effect 200ms;
    .house-model-block {
        display: flex;
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > * {
            flex-grow: 0;
            flex-shrink: 0;
        }
        .house-model-side {
            position: relative;
            padding-top: 2rem;
            padding-bottom: 1.6rem;
            .model-title, .model-price {
                position: absolute;
                left: 50%;
                white-space: nowrap;
                opacity: 0;
            }
            .model-title {
                top: 0;
                color: var(--primary-color);
                transform: translateX(-50%) translateY(120%);
            }
            .model-price {
                bottom: 0;
                color: var(--content-color);
                transform: translateX(-50%) translateY(-150%);
            }
            &.active {
                .model-title, .model-price {
                    position: absolute;
                    left: 50%;
                    white-space: nowrap;
                    opacity: 1;
                    transform: translateX(-50%) translateY(0%);
                    transition: {
                        property: opacity, transform;
                        timing-function: ease, $bounce-effect;
                        duration: 300ms;
                        delay: 600ms;
                    };
                }
            }
            .model-side {
                position: relative;
                z-index: 1;
                .model-set-placeholder {
                    position: absolute;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    & > * {
                        flex-grow: 0;
                        flex-shrink: 0;
                    }
                }
                .model-bg {
                    display: block;
                    height: 100%;
                    opacity: .5;
                }
            }
        }
        &.active {
            .house-model-side {
                position: absolute !important;
            }
        }
        
    }
    &.model-3d {
        transform: perspective(2000px) translateZ(calc(var(--minWidth) / -2));
        .house-model-block {
            --deg: 90deg;
            transform-style: preserve-3d;
            transform: rotateY(var(--deg));
            transition: {
                property: transform;
                timing-function: $bounce-effect;
                duration: 500ms;
            };
            .house-model-side {
                &[data-name=font] {
                    transform: translateZ(calc(var(--maxWidth) / 2));
                }
                &[data-name=back] {
                    transform: translateZ(calc(var(--maxWidth) / -2)) rotateY(180deg);
                }
                &[data-name=left] {
                    transform: translateX(calc(var(--minWidth) / -2)) rotateY(-90deg);
                }
                &[data-name=right] {
                    transform: translateX(calc(var(--minWidth) / 2)) rotateY(90deg);
                }
            }
        }
    }    
}


footer {
    display: flex;
    align-items: center;
    padding: .4rem 1rem;
    box-shadow: var(--shadow-top);
    background: var(--s-bg-color);
    min-height: 50px;
    .copyright {
        text-align: center
    }
}

