@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&family=Montserrat&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --heading-font: "Alata", sans-serif;
  --content-font: "Josefin Sans", sans-serif;
  --brand-color: #e30613;
  --brand-h-color: #b41817;
  --brand-s-color: rgba(227, 6, 21, 0.2);
  --primary-color: #136371;
  --primary-h-color: #1E3A4B;
  --content-color: #111111;
  --content-d-color: #ffffff;
  --s-bg-color: #ffffff;
  --border-color: #fff4f4;
  --shadow: 0 5px 8px rgba(0,0,0,0.05);
  --shadow-top: 0 -5px 8px rgba(0,0,0,0.05);
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

p, a, span, div, input, button {
  font-family: var(--content-font);
}

img {
  max-width: 100%;
}

a {
  color: var(--primary-color);
  position: relative;
  text-decoration: none;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
a::after {
  content: "";
  position: absolute;
  height: 0.09rem;
  left: 0;
  width: 100%;
  bottom: 0;
  background: var(--primary-color);
  transform: scaleX(0);
  transition-property: background, transform;
  transition-duration: 300ms;
  transition-timing-function: ease, cubic-bezier(0.18, 0.89, 0.32, 1.18);
}
a:hover {
  color: var(--primary-h-color);
}
a:hover::after {
  transform: scaleX(1);
  background: var(--primary-h-color);
}

.wrapper {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: 60px;
  background: var(--s-bg-color);
  box-shadow: var(--shadow);
  z-index: 1000;
}
header .navbar {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
header .navbar .nav-logo {
  display: block;
  max-width: 80px;
}
header .navbar .nav-logo .brand-logo {
  display: block;
}
header .navbar .toggle {
  display: none;
  flex-direction: column;
  width: 40px;
  align-items: flex-end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .navbar .toggle span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--brand-color);
  margin-bottom: 5px;
  pointer-events: none;
  transition-property: opacity, transform, width;
  transition-duration: 300ms, 300ms, 200ms;
  transition-timing-function: ease, cubic-bezier(0.18, 0.89, 0.32, 1.18), cubic-bezier(0.18, 0.89, 0.32, 1.18);
}
header .navbar .toggle span:first-child {
  transform-origin: top left;
}
header .navbar .toggle span:nth-child(2), header .navbar .toggle span:nth-child(3) {
  width: 80%;
}
header .navbar .toggle span:last-child {
  transform-origin: bottom left;
  margin-bottom: 0;
}
header .navbar .toggle:hover span:nth-child(2), header .navbar .toggle:hover span:nth-child(3) {
  width: 100%;
}
header .navbar .toggle.active span:nth-child(2), header .navbar .toggle.active span:nth-child(3) {
  opacity: 0;
}
header .navbar .toggle.active span:first-child {
  transform: translate(12px, -2px) rotate(45deg);
}
header .navbar .toggle.active span:last-child {
  transform: translate(12px, 2px) rotate(-45deg);
}
@media (max-width: 768px) {
  header .navbar .toggle {
    display: flex;
  }
}
header .navbar .nav-menu {
  display: flex;
  list-style: none;
}
header .navbar .nav-menu .nav-item {
  display: block;
  padding: 0.4rem 0.8rem 0.3rem;
  background: var(--s-bg-color);
  color: var(--primary-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
header .navbar .nav-menu .nav-item:hover {
  background-color: var(--primary-h-color);
  color: var(--content-d-color);
}
@media (max-width: 768px) {
  header .navbar .nav-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 0px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition-property: max-height;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.18);
  }
  header .navbar .nav-menu .nav-item {
    padding: 0.6rem 1rem;
    border: unset;
    border-bottom: 1px solid rgba(19, 99, 113, 0.08);
  }
  header .navbar .nav-menu .nav-item:first-child {
    margin-top: 0.1rem;
  }
  header .navbar .nav-menu .nav-item:last-child {
    border: unset;
    margin-bottom: 0.3rem;
  }
  header .navbar .nav-menu.active {
    max-height: 200px;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

main {
  min-height: calc(100vh - 110px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.control-nav-block {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  overflow: hidden;
}
.control-nav-block .title {
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.control-nav-block .nav-menu {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  list-style: none;
}
.control-nav-block .nav-menu .nav-item {
  padding: 0.4rem 0.6rem 0.3rem;
  background: var(--s-bg-color);
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition-property: color, background, border, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.control-nav-block .nav-menu .nav-item:hover {
  background: var(--brand-h-color);
  color: var(--content-d-color);
  border: 1px solid var(--brand-h-color);
}
.control-nav-block .nav-menu .nav-item:active {
  background: var(--brand-color);
  color: var(--content-d-color);
  border: 1px solid var(--brand-color);
}
.control-nav-block .nav-menu .nav-item.active {
  background: var(--brand-color);
  color: var(--content-d-color);
  border: 1px solid var(--brand-color);
}

.house-model-section {
  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.18);
}
.house-model-section .wrapper {
  position: relative;
}
.house-model-section .house-side-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.house-model-section .house-side-nav .btn {
  display: block;
  padding: 0.4rem 0.5rem 0.35rem;
  background-color: var(--brand-color);
  color: var(--content-d-color);
  border: 1px solid var(--brand-color);
  pointer-events: all;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition-property: background, transform, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.house-model-section .house-side-nav .btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.house-model-section .total-cost {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.house-model-outer {
  perspective: 2000px;
  transition: transform 800ms cubic-bezier(0.18, 0.89, 0.32, 1.18) 200ms;
}
.house-model-outer .house-model-block {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.house-model-outer .house-model-block > * {
  flex-grow: 0;
  flex-shrink: 0;
}
.house-model-outer .house-model-block .house-model-side {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
}
.house-model-outer .house-model-block .house-model-side .model-title, .house-model-outer .house-model-block .house-model-side .model-price {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  opacity: 0;
  z-index: 2;
  font-weight: 300;
}
.house-model-outer .house-model-block .house-model-side .model-title {
  top: 0;
  color: var(--primary-color);
  transform: translateX(-50%) translateY(120%);
}
.house-model-outer .house-model-block .house-model-side .model-price {
  bottom: 0;
  color: var(--content-color);
  transform: translateX(-50%) translateY(-150%);
}
.house-model-outer .house-model-block .house-model-side.active .model-title, .house-model-outer .house-model-block .house-model-side.active .model-price {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
  transition-property: opacity, transform;
  transition-timing-function: ease, cubic-bezier(0.18, 0.89, 0.32, 1.18);
  transition-duration: 300ms;
  transition-delay: 600ms;
}
.house-model-outer .house-model-block .house-model-side .model-side {
  position: relative;
  z-index: 1;
}
.house-model-outer .house-model-block .house-model-side .model-side .model-set-placeholder {
  position: absolute;
  width: calc(100% + 2px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  z-index: 1;
}
.house-model-outer .house-model-block .house-model-side .model-side .model-set-placeholder > * {
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
}
.house-model-outer .house-model-block .house-model-side .model-side .model-bg {
  display: block;
  position: relative;
  height: 100%;
  opacity: 0.3;
}
.house-model-outer .house-model-block.active .house-model-side {
  position: absolute !important;
}
.house-model-outer.model-3d {
  transform: perspective(2000px) translateZ(calc(var(--minWidth) / -2));
}
.house-model-outer.model-3d .house-model-block.active {
  --deg: 90deg;
  transform-style: preserve-3d;
  transform: rotateY(var(--deg));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.18);
  transition-duration: 500ms;
}
.house-model-outer.model-3d .house-model-block.active .house-model-side {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.house-model-outer.model-3d .house-model-block.active .house-model-side[data-name=font] {
  transform: translateZ(calc(var(--maxWidth) / 2));
}
.house-model-outer.model-3d .house-model-block.active .house-model-side[data-name=back] {
  transform: translateZ(calc(var(--maxWidth) / -2)) rotateY(180deg);
}
.house-model-outer.model-3d .house-model-block.active .house-model-side[data-name=left] {
  transform: translateX(calc(var(--minWidth) / -2)) rotateY(-90deg);
}
.house-model-outer.model-3d .house-model-block.active .house-model-side[data-name=right] {
  transform: translateX(calc(var(--minWidth) / 2)) rotateY(90deg);
}

.model-part-block {
  height: 100%;
}
.model-part-block .model-part {
  height: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.house-parts-section {
  display: none;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.18);
}
.house-parts-section .house-parts-block {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
}
.house-parts-section .house-parts-block .model-part-block {
  height: 150px;
}

footer {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  box-shadow: var(--shadow-top);
  background: var(--s-bg-color);
  min-height: 50px;
}
footer .copyright {
  text-align: center;
}/*# sourceMappingURL=style.css.map */